* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(180deg, #89CFF0, #1A3C7C);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}


.game-container {
    text-align: center;
}

h1 {
    margin-bottom: 10px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
}

/* Buttons container */
.top-buttons {
    margin-bottom: 10px;
}

/* Skin + Pause buttons */
#skinBtn,
#pauseBtn ,
#resetBestBtn
{
    padding: 8px 14px;
    border: none;
    border-radius: 6px;
    background: #ffcc00;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    margin: 0 5px;
}

#skinBtn:hover,
#pauseBtn:hover ,
#resetBestBtn
{
    background: #e6b800;
}


/* Game Canvas */
#gameCanvas {
    border: 3px solid #fff;
    border-radius: 8px;
    background: linear-gradient(180deg, #4ec0ca, #ffffff);
    display: block;
    margin: 0 auto;
}

.info {
    margin-top: 10px;
    font-size: 14px;
    opacity: 0.9;
}
